<section class="chat-cta ion-align-items-center ion-padding-vertical">
  <ion-button size="small" fill="clear">
    <ion-icon name="add"></ion-icon>
  </ion-button>
  <div class="input-holder ion-align-items-center">
    <ion-input class="ion-no-padding"></ion-input>
    <ion-icon name="document-outline" color="primary"></ion-icon>
  </div>
  <ion-button size="small" fill="clear">
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>

  <ion-button size="small" fill="clear">
    <ion-icon name="mic-outline"></ion-icon>
  </ion-button>
</section>
