.chat-cta {
  border-top: 1px solid #ddd;
  background: rgb(248, 247, 247);
  display: flex;
  padding-bottom: 20px;
  .input-holder {
    padding: 6px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    flex: 1;
    display: flex;
    ion-icon {
      transform: scale(1.3);
    }
  }

  ion-button {
    ion-icon {
      transform: scale(1.5);
    }
  }
}
