<ion-header class="base-header">
  <ion-toolbar>
    <ion-title class="chat-title">
      <p>{{chatTitle}}</p>
      <ion-text class="text-sm" color="medium">{{participantsNames}}</ion-text>
    </ion-title>
    <ion-buttons>
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-first-chat-messages [chatTitle]="chatTitle"></app-first-chat-messages>
</ion-content>

<ion-footer>
  <app-chat-cta-buttons></app-chat-cta-buttons>
</ion-footer>
