ion-content {
  --background: url(../../assets/chat-bg.png);
}

.chat-title {
  text-align: start;
  padding-left: 50px;

  p {
    margin: -4px 0 0;
    font-weight: bold;
  }

  ion-text {
    margin-top: -4px;
  }
}
