<ion-header collapse="condense" class="base-header">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToChat()">Create</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <ion-text class="text-bold">New Group</ion-text>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <section class="group-name-container">
      <ion-row>
        <ion-col size="3">
          <div class="group-icon ion-align-items-center ion-justify-content-center">
            <ion-icon name="camera-outline" color="primary"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="group-name-input ion-align-items-center">
            <ion-input></ion-input>
            <span class="name-count">18</span>
          </div>
          <p>Please provide a group subject and optional group icon</p>
        </ion-col>
      </ion-row>
    </section>
    <section class="group-participants">
      <div class="separator">
        PARTICIPANTS: 4 OF 256
      </div>
    </section>


  <section class="selected-contacts flex ion-justify-content-between">
    <app-contact-preview *ngFor="let c of [1,2,3, 4, 5]"></app-contact-preview>
  </section>

</ion-content>
