<ion-header collapse="condense">
  <ion-toolbar mode="ios">
    <ion-buttons slot="end">
      <ion-button disabled="true">Next</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <ion-text class="text-bold" >Add Participants</ion-text>
      <br>
      <ion-text class="text-sm">1 / 9</ion-text>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button>Cancel</ion-button>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar>
      <ion-searchbar ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="select-btn ion-text-end">
    <ion-button  fill="clear" size="small" (click)="onSelect()" [innerText]="selectText"></ion-button>
  </div>

  <ion-list>
    <ion-item>
      <ion-avatar></ion-avatar>
      <ion-label>Squadio</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
