<ion-header class="base-header" collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="onCreateGroup()" [disabled]="canSelectAllContacts">Next</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <ion-text class="text-bold">Add Participants</ion-text>
      <br>
      <ion-text class="text-sm">{{(contactsService.selectedContacts$ | async).length}}
        / {{maximumNumberOfSelectedContacts}}</ion-text>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button>Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <section *ngIf="(contactsService.selectedContacts$ | async).length" [ngClass]="{'ion-justify-content-between': (contactsService.selectedContacts$| async).length > 4}"
           class="selected-contacts flex ">
    <app-contact-preview *ngFor="let contact of contactsService.selectedContacts$ | async"
                         [contact]="contact"></app-contact-preview>
  </section>

  <div class="select-btn ion-text-end">
    <ion-button (click)="onSelect()" [innerText]="selectText" class="ion-no-margin" fill="clear"
                size="small"></ion-button>
  </div>

  <ion-list class="contacts-list">

    <section class="alphabet">
      <ion-text *ngFor="let c of alphabetCharacters" color="primary">{{c}}</ion-text>
    </section>

    <app-contact-item *ngFor="let contact of backupContacts" [contact]="contact"></app-contact-item>
  </ion-list>
</ion-content>
